.register__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0 auto;
}

.register__form > .login__button{
    margin-top: 20px;
    width: 250px;
}

.register__form > input{
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
}

.register__form > .MuiFormControl-root{
    width: 400px;
}

.login__form > .login__button{
    margin-top: 20px;
    width: 250px;
}