.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0 auto;
}

.login__form > .MuiFormControl-root{
    width: 400px;
}

.login__form > .login__button{
    margin-top: 20px;
    width: 250px;
}